.search-form {
  width: 600px;
  display: flex;
}

.search-input {
  border: 1px solid #808080;
  border-radius: 4px;
  color: #2e2f42;
  font-size: 18px;
  flex-grow: 1;

  padding-left: 15px;
  box-shadow: 0 4px 6px #0000001a;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #303030;
  box-shadow: 0px 0px 12px 9px rgba(104, 9, 139, 0.7);
}

.search-btn {
  font-size: 14px;
  border-radius: 8px;
  padding: 7px 26px;
  background-color: rgb(255, 107, 10);
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-left: 26px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 0px 12px 9px rgba(104, 9, 139, 0.7);
}

.search-btn:hover,
.search-btn:focus {
  background-color: rgb(221, 154, 109);
  transform: scale(1.05);
}
.search-input:hover,
.search-input:focus {
  transform: scale(1.02);
}

.search-input.empty {
  box-shadow: 0px 0px 12px 9px rgba(104, 9, 139, 0.7);
}

/* Для состояния с текстом */
.search-input.filled {
  box-shadow: 0 0 10px 4px rgba(0, 255, 0, 0.7); /* Зеленый цвет */
}
